<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rcon Index</title>
</head>
<body>
    <h1>Hello, {{ user }}</h1>
    <p>Go to server:</p>
    <div class="radio-input" id="server_list">
        <!-- Radio buttons will be dynamically inserted here -->
    </div>
    <button type="button" class="submit-button" onclick="gorcon()">Go</button>
</body>
</html>
