<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/rcon.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ server }}</title>
</head>
<body>
    <h1>Hello {{ user }}</h1>
    <p>Server name:{{ server }}</p>
    <span id="server_name" style="display: none;">{{ server }}</span>

    <div id="response"></div><br><br>
    <input id="send_command" size="120" placeholder="command"><br><br>
    <button onclick="send()">send</button>
</body>
</html>